body{
    text-align: center;
    background: #eee;
    font-family: sans-serif;
}
*{
    font-weight: 200;
}

.js{
    background: #333;
    color: white;
    display: inline-block;
    padding: 1em;
}